.navbar{
    padding: 1em;
}
.navbar-list-styling{
    background-color: white;    
}
.navbar-list{
    list-style: none;
    display: flex;
    font-size: 1.5em;
}
.navbar-list li{
    padding-left: 1em;
}
.list-unstyled{
    background-color: white
}
.sidebar-route{
    background-color: white
}